@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/****** Color ***********/
:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --third-color-color: #99e2d0;
  --background-color: #f6f6f6;
}

/****** flex ***********/
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/****** Loader ***********/
/* Styles du loader */
.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

/* Styles pour le spinner */
.loader__animation {
  border: 4px solid var(--primary-color);
  border-top: 4px solid #f6f6f6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear;
  position: relative;
  opacity: 1;
}

/* Animation de rotation du spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Faire disparaitre le loader après l'animation */
.loader__container {
  animation: hideLoader 0s forwards 3s; /* Cacher le loader après 3 secondes */
}

/* Animation pour cacher le loader */
@keyframes hideLoader {
  to {
    opacity: 0; /* Opacité à zéro pour cacher le loader */
    visibility: hidden; /* Visibilité cachée */
  }
}
/****** Header ***********/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header .logo__container {
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 1px 5px 20px lightgrey;
}
.header__logo {
  width: 10em;
  margin-top: 1.3em;
}
.header__location {
  flex-direction: row;
  justify-content: center;
  margin-top: 0.3em;
  font-size: 1em;
  font-weight: bold;
  background-color: #eaeaea;
  width: 100%;
  padding: 1em;
  box-shadow: 1px 5px 5px lightgrey;
}

/****** call to action section ***********/
.main__section {
  background-color: var(--background-color);
}

.section__title {
  font-size: 1.5em;
  margin: 1.38em 1.6em 0 1.6em;
}

.section__content {
  margin: 0.5em 1em 0 1em;
}

.section__btn {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 0px 6px 7px lightgrey;
  border-radius: 45px;
  font-size: 1em;
  color: white;
  padding: 1em 1.6em;
  border: none;
  margin-top: 2.1em;
  margin-bottom: 4.7em;
}

.section__btn:hover {
  background: linear-gradient(to bottom right, #ff99ee, #a366dd);
}

/****** navbar ***********/
.navbar {
  margin-top: 1.3em;
  margin-bottom: 2em;
}
.navbar__title {
  margin-bottom: 1em;
  width: 100%;
  margin-right: 5em;
}
.navbar__btn {
  display: flex;
  align-items: center;
  background: var(--background-color);
  box-shadow: 0px 6px 7px lightgrey;
  font-weight: bold;
  padding: 1.5em 5em;
  border-radius: 20px;
  margin-bottom: 1.6em;
  list-style: none;
  margin-left: 1em;
}
.navbar .fa-solid {
  margin-right: 0.6em;
}
.navbar .fa-store {
  color: var(--primary-color);
}
.navbar .list-style {
  background: var(--primary-color);
  color: white;
  border-radius: 30px;
  padding: 0.2em 0.6em;
  margin-right: 1em;
  margin-left: -5.8em;
}

/****** restaurant section ***********/
.restaurant {
  background-color: var(--background-color);
  padding: 1em;
  width: 100%;
  /****** effet remplissage du coeur ***********/
}
.restaurant__title {
  text-align: start;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 1.5em;
}
.restaurant .section__link {
  text-decoration: none;
}
.restaurant .card {
  background-color: white;
  border-radius: 15px;
}
.restaurant .card__img {
  border-radius: 15px 15px 0 0;
  height: 11em;
  width: 100%;
  object-fit: cover;
}
.restaurant .badge {
  background: var(--third-color-color);
  color: #008766;
  z-index: 1;
  position: absolute;
  margin-left: 15em;
  margin-top: 0.7em;
  border-radius: 2px;
  padding: 0.2em 0.5em;
}
.restaurant .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 0.5em 1em 1em 1em;
}
.restaurant .card__text {
  margin-right: 2.3em;
  margin-bottom: 1.2em;
}
.restaurant .card__heart {
  position: relative;
  margin-right: 1.5em;
  margin-bottom: 2em;
  font-size: 1.5em;
}
.restaurant .fa-heart {
  position: absolute;
  transition: transform 0.3s ease-out;
}
.restaurant .full {
  color: #9747FF;
  transform: scale(0);
}
.restaurant .card__heart:hover .full {
  transform: scale(1);
}

/****** responsive ***********/
@media screen and (min-width: 1440px) {
  .header__location {
    box-shadow: unset;
  }
  .section__title {
    font-size: 2.4em;
    margin: 0.8em 1.2em 0 1.6em;
  }
  .section__content {
    margin: unset;
    margin-top: 1.8em;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-left: 1em;
  }
  .navbar__title {
    margin-bottom: 1em;
    margin-right: 33em;
  }
  .navbar__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar__btn {
    margin: 1em;
  }
  .restaurant {
    padding-right: 7em;
    padding-left: 7em;
  }
  .restaurant__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .palette__badge {
    margin-left: 27em;
  }
  .restaurant .badge {
    margin-left: 27em;
  }
  .note__badge {
    margin-left: 68em;
  }
  .card {
    width: 45%;
    margin-bottom: 2em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/****** Color ***********/
:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --third-color: #99e2d0;
  --background-color: #f6f6f6;
}

/****** Header ***********/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.header__arrow {
  flex: 10%;
  font-size: 1.2em;
  margin-left: 0.5em;
  color: black;
}
.header__logo {
  display: flex;
  padding-bottom: 1em;
  width: 10em;
  align-items: center;
  text-align: left;
  flex: 90%;
  height: 2.7em;
}
.header__text {
  margin-left: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  padding: 0 1em 1em 1em;
  position: relative;
  z-index: 1;
  /****** effet remplissage du coeur ***********/
  /****** effet d'apparition décalée des menus ***********/
  /****** effet de rognage du nom des plats ***********/
}
.main__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.main .overlay {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--background-color);
  position: absolute;
  top: -3em;
  left: 0;
  width: 100%;
  height: 3em;
}
.main .menu {
  margin-bottom: 1em;
}
.main__title {
  font-family: "Shrikhand", serif;
  font-size: 1.75em;
  margin-bottom: 1em;
}
.main .card__heart {
  position: relative;
  margin-right: 1em;
  margin-bottom: 2.5em;
  font-size: 1.5em;
}
.main .fa-heart {
  position: absolute;
  transition: transform 0.3s ease-out;
}
.main .full {
  color: #9747ff;
  transform: scale(0);
}
.main .card__heart:hover .full {
  transform: scale(1);
}
.main .main__section-title {
  border-bottom: var(--third-color) 2px solid;
  display: inline-block;
  width: 8%;
  margin-bottom: 0.5em;
  font-size: 1.05em;
  text-transform: uppercase;
  font-weight: lighter;
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.main .main__article {
  background: white;
  border-radius: 15px;
  opacity: 0;
  animation: fade-in-top 1s ease forwards;
}
.main .animation {
  opacity: 0;
  animation: fade-in-top 1s ease forwards;
}
.main .entree {
  animation-delay: 1s;
}
.main .plat {
  animation-delay: 2s;
}
.main .dessert {
  animation-delay: 3s;
}
.main .main__card-container {
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 6px 15px lightgrey;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 1em;
}
.main .main__card {
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}
.main .main .main__card > h3 {
  font-size: 1.1em;
}
.main .main__card > p {
  font-size: 1em;
}
.main .main__card > h3,
.main .main__card > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.3s ease-in-out;
  padding-left: 0.5em;
}
.main .main__price {
  margin-right: 1em;
  margin-top: 1.6em;
}
.main .fa-circle-check {
  padding: 1.5em;
}
.main .checked {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.main .checked i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main .main__card-container .checked {
  opacity: 0;
  transition: width 0.3s ease-in-out;
  background-color: transparent;
  width: 0;
  height: 100%;
}
.main .main__card-container:hover .checked {
  opacity: 1;
  width: 3.5em;
  background-color: var(--third-color);
}
.main .main__btn {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 45px;
  box-shadow: 0px 6px 7px lightgrey;
  font-size: 1em;
  color: white;
  padding: 1em 1.4em;
  margin: 1em 5em 0 5em;
  border: none;
  margin-bottom: 1em;
}
.main .main__btn:hover {
  background: linear-gradient(to bottom right, #ff99ee, #a366dd);
}

/****** responsive ***********/
@media screen and (min-width: 1440px) {
  .header__arrow {
    text-align: left;
    margin-left: 1.5em;
    flex: unset;
  }
  .restaurant__image {
    width: 100%;
    object-fit: cover;
    height: 30em;
  }
  .restaurant .card__text {
    margin-bottom: 0.2em;
  }
  .restaurant .card__heart {
    margin-right: 2em;
    margin-top: 0.5em;
  }
  .main {
    width: 70%;
    margin-left: 14.5em;
    align-items: center;
  }
  .menu {
    width: 70%;
  }
  .main__title {
    width: 70%;
    text-align: end;
    margin-right: 1em;
  }
  .card__heart {
    width: 30%;
    text-align: right;
  }
  .main .main__section-title {
    width: 5%;
    font-size: 1em;
  }
  .main__btn {
    width: 20%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 1em;
}
.footer__title {
  margin-bottom: 1em;
  font-family: "Shrikhand", serif;
  font-size: 1em;
  margin-top: 0.4em;
  margin-left: 0.9em;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.footer__link {
  display: flex;
  list-style: none;
  margin-bottom: 0.5em;
}
.footer .fa-solid {
  margin-right: 1em;
}

@media screen and (min-width: 1440px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 2em;
  }
  .footer__title {
    margin-bottom: unset;
    margin-left: 5em;
    margin-right: 1.5em;
  }
  .footer__list {
    flex-direction: row;
  }
  .footer__link {
    margin: 1em;
  }
}
