.footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    padding: 1em;

&__title {
    margin-bottom: 1em;
    font-family: "Shrikhand", serif;
    font-size: 1em;
    margin-top: 0.4em;  
    margin-left: 0.9em;
}

&__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

&__link {
    display: flex;
    list-style: none;
    margin-bottom: 0.5em;
}

.fa-solid {
    margin-right: 1em;
}
}

@media screen and (min-width: 1440px) {
    .footer {
        flex-direction: row-reverse; 
        align-items: center; 
        padding-top: 2em;
    }

    .footer__title {
        margin-bottom: unset;
        margin-left: 5em;
        margin-right: 1.5em;
    }

    .footer__list {
        flex-direction: row;
    }

    .footer__link {
        margin: 1em;
    }
}

