@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/****** Color ***********/
:root {
	--primary-color: #9356dc;
	--secondary-color: #ff79da;
	--third-color: #99e2d0;
	--background-color: #f6f6f6;
}

/****** Header ***********/
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	&__arrow {
		flex: 20%;
		font-size: 1.2em;
		margin-left: 0.5em;
		color: black;
	}

	&__logo {
		display: flex;
		padding-bottom: 1em;
		width: 10em;
		align-items: center;
		text-align: center;
		flex: 80%;
		height: 2.7em;
		// margin-right: 4em;
	}
}

.main {
	display: flex;
	flex-direction: column;
	background: var(--background-color);
	padding: 0 1em 1em 1em;
	position: relative;
	z-index: 1;

	&__container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}

	.overlay {
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		background-color: var(--background-color);
		position: absolute;
		top: -3em;
		left: 0;
		width: 100%;
		height: 3em;
	}

	.menu {
		margin-bottom: 1em;
	}

	&__title {
		font-family: "Shrikhand", serif;
		font-size: 1.75em;
		margin-bottom: 1em;
	}

	.fa-heart {
		font-size: 1.4em;
		position: absolute;
	}

	.full {
		opacity: 0;
		transition-property: all;
		transition-duration: 0.2s;
	}

	.full:hover,
	.full:active {
		font-size: 1.4em;
		opacity: 1;
		color: transparent;
		background-image: linear-gradient(to bottom right, #ff99ee, #a366dd);
		background-clip: text;
		-webkit-background-clip: text;
	}

	.card__heart {
		margin-right: 3em;
		margin-bottom: 3.7em;
	}

	.main__section-title {
		border-bottom: var(--third-color) 2px solid;
		display: inline-block;
		width: 8%;
		margin-bottom: 0.5em;
		font-size: 1.05em;
		text-transform: uppercase;
		font-weight: lighter;
	}

	@-webkit-keyframes fade-in-top {
		0% {
			-webkit-transform: translateY(-50px);
			transform: translateY(-50px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}
	}
	@keyframes fade-in-top {
		0% {
			-webkit-transform: translateY(-50px);
			transform: translateY(-50px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}
	}

	.main__article {
		background: white;
		border-radius: 15px;
		opacity: 0;
		animation: fade-in-top 1s ease forwards;
	}

	.animation {
		opacity: 0;
		animation: fade-in-top 1s ease forwards;
	}

	.entree {
		animation-delay: 1s;
	}

	.plat {
		animation-delay: 2s;
	}

	.dessert {
		animation-delay: 3s;
	}

	.main__card-container {
		display: flex;
		border-radius: 15px;
		box-shadow: 0px 6px 15px lightgrey;
		align-items: center;
		text-align: left;
		justify-content: space-between;
		margin-bottom: 1em;
	}

	.main__card {
		font-size: 1em;
		white-space: nowrap;
		overflow: hidden;
		flex: 1;
	}

	.main .main__card > h3 {
		font-size: 1.1em;
	}

	.main__card > p {
		font-size: 1em;
	}

	.main__card > h3,
	.main__card > p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: width 0.3s ease-in-out;
		padding-left: 0.5em;
	}

	.main__price {
		margin-right: 1em;
		margin-top: 1.6em;
	}

	.fa-circle-check {
		padding: 1.5em;
	}

	.checked {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.checked i {
		display: flex; /* Pour assurer le centrage de l'icône */
		justify-content: center; /* Centrage horizontal de l'icône */
		align-items: center; /* Centrage vertical de l'icône */
		color: white;
	}

	.main__card-container .checked {
		opacity: 0;
		transition: width 0.3s ease-in-out;
		background-color: transparent;
		width: 0;
		height: 100%;
	}

	.main__card-container:hover .checked {
		opacity: 1;
		width: 3.5em;
		background-color: var(--third-color);
	}

	.main__btn {
		display: flex;
		justify-content: center;
		background: linear-gradient(to bottom right, #ff79da, #9356dc);
		border-radius: 45px;
		box-shadow: 0px 6px 7px lightgrey;
		font-size: 1em;
		color: white;
		padding: 1em 1.4em;
		margin: 1em 5em 0 5em;
		border: none;
		transition: var(--background-color) 0.3s ease;
		margin-bottom: 1em;
	}

	.main__btn:hover {
		background: linear-gradient(to bottom right, #ff99ee, #a366dd);
	}
}

@media screen and (min-width: 1440px) {
	.header__arrow {
		text-align: left;
		margin-left: 1.5em;
		flex: unset;
	}
	.header__text {
		margin-left: 1em;
	}
	.restaurant__image {
		width: 100%;
		object-fit: cover;
		height: 30em;
	}
	.restaurant .card__text {
		margin-bottom: 0.2em;
	}
	.restaurant .card__heart {
		margin-right: 2em;
	}
	.main {
		width: 70%;
		margin-left: 14.5em;
		align-items: center;
	}
	.menu {
		width: 70%;
	}
	.main__title {
		width: 70%;
		text-align: end;
		margin-right: 1em;
		// margin-left: 8em;
	}
	.card__heart {
		width: 30%;
		text-align: right;
	}
	.main .main__section-title {
		width: 5%;
		font-size: 1em;
	}
	.main__btn {
		width: 20%;
	}
}
