.footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    padding: 1em;
    margin-top: 3em;

.footer__title {
    margin-bottom: 1em;
    font-family: "Shrikhand", serif;
    font-size: 1em;
    margin-top: 0.4em;  
    margin-left: 0.9em;
}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer__link {
    display: flex;
    list-style: none;
    margin-bottom: 0.5em;
}

.fa-solid {
    margin-right: 1em;
}
}