.footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    padding: 1em;

.footer__title {
    margin-bottom: 1em;
    font-family: "Shrikhand", serif;
    font-size: 1em;
    margin-top: 0.4em;  
    margin-left: 0.9em;
}

.footer__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.footer__link {
    display: flex;
    list-style: none;
    margin-bottom: 0.5em;
}

.fa-solid {
    margin-right: 1em;
}
}

@media screen and (min-width: 1440px) {
    .footer {
        flex-direction: row; /* Afficher les éléments en ligne */
        justify-content: space-around; /* Espacement équitable entre les éléments */
        align-items: center; /* Centrer les éléments horizontalement */
        text-align: left; /* Alignement du texte à gauche */
    }

    .footer__list {
        flex-direction: row; /* Afficher les éléments en ligne */
    }

    .footer__link {
        margin: 0; /* Supprimer la marge entre les éléments */
    }
}
